<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FIRST PAGE</title>
    </head>
    <body>
        {{> header}}

        <p>Home page</p>

        {{> footer}}
    </body>
</html>